.tab_pages{
    --offset-bottom: 0px !important;
    ion-header{
        ion-toolbar{
            ion-title{
                font-size: 31px;
                font-family: Roboto Regular;
                font-weight: 400;
            }
        }
    }
}