<div class="container">
  <ion-grid class="order-summary">
    <ion-row class="ion-padding-vertical">
      <ion-col size="12" class="justify-content-space-between heading " >
       <ion-label class="order-detail">Order Details </ion-label> <ion-label class="time">3:15pm</ion-label>
      </ion-col>
      <ion-col size="12" class="justify-content-space-between sub-heading">
        <ion-label class="order-no">#3252321</ion-label> <ion-label class="date">Aug,15 2020</ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-vertical">
        <ion-col size="12" class="justify-content-space-between heading " >
          <ion-label class="order-detail">Item List</ion-label>
         </ion-col>
    </ion-row>
    <ion-row class="ion-padding-vertical cart-list">
      <ion-list style="width: 100%;">
        <ion-item-sliding *ngFor="let p of cart"  size="12" class="ion-justify-content-evenly" style="display: flex;">
          <ion-item style="width: 100%;">
           <div class="col-md-12" style="width: 100%;"> 
             <div class="col-md-12 ion-justify-content-left" style="display: flex; width: 100%;">
              
              <div class="col-md-1 padding-15-5">
                <img height="40" width="60" src="{{ p.image }}" />
              </div>
              <div class="col-md-5 padding-15-5 name" style="width:100%">{{ p.name }}</div> 
              <div class="col-md-6 padding-15-5" style="text-align: right; width:100%"> 
                {{p.price}} * {{p.amount}} = Rs. {{ p.price * p.amount }}.00
              </div>  
             </div>
          </div>
          </ion-item>
        </ion-item-sliding>
      </ion-list>



      <ion-col *ngFor="let p of cart"  size="12" class="ion-justify-content-evenly" style="display: flex;" >
      </ion-col>
      <ion-col size="12" class="justify-content-space-between heading " >
        <ion-label class="order-detail"></ion-label>
        <ion-label class="order-detail"> Total: Rs. {{getTotal()}}.00</ion-label>
      </ion-col>
      <ion-col size="3" offset="9">
        <ion-button  color="warning" expand="block"  (click)="placeorder()">Place Order</ion-button>
        <!-- <ion-button color="warning" expand="block"   [routerLink]="['/ordersummary']" >Checkout</ion-button> -->
      </ion-col>
      
    </ion-row>
  </ion-grid>
</div>