#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  // top: 40%;
  // transform: translateY(-50%);
  ion-col{
    .item{
      img{
        display: block;
        margin: 0 auto;
      }
      ion-label{
        display: block;
        width: 100%;
      }
    }
  }
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
ion-header{
  ion-toolbar{
    --border-width : 0;
      ion-title{
          font-size: 31px;
          font-family: Roboto Regular;
          font-weight: 400;
      }
  }
}
.tab_pages{
  ion-header{
      ion-toolbar{
          ion-title{
              font-size: 31px;
              font-family: Roboto Regular;
              font-weight: 400;
          }
      }
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */
  #container {
    // top: 56%;
  }
}