<div id="container">
  <ion-grid style="height: 100%;">
    <ion-row style="height: 100%;">
      <ion-col size="7">
        <!-- <ion-header collapse="condense">
          <ion-toolbar>
            <ion-title size="large">Burgers<img  class="ion-padding-start ion-padding-top" src="../../assets/burger/burger.png" /> </ion-title>
          
          </ion-toolbar>
        </ion-header> -->
        <ion-grid class="ion-padding-top">
          <ion-row >
            <ion-col size="4"  *ngFor="let item of products" 
            [id]="item.id"  >
              <div class="item ion-justify-content-center" (click)="doOrder(item)"   >
               <img src="{{item.image}}" />
               <ion-label>{{item.name}}</ion-label>
               <ion-label>{{item.price}}</ion-label>
              </div>
             
           </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col size="5" style="overflow-y: scroll;">
        <app-order-window *ngIf="this.cartService.showOrder" ></app-order-window>
        <!-- <app-cart-modal></app-cart-modal> -->
      </ion-col>
    </ion-row>
  </ion-grid>
</div>