<ion-tabs>

  <ion-tab-bar slot="top">
    <ion-tab-button tab="pizza">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Tab 1</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="burger">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Burger</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="fries">
      <ion-icon name="square"></ion-icon>
      <ion-label>Fries</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
