<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Chaap <img class="ion-padding-left" src="../../assets/tab-images/chaap.svg" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="tab_pages burger_page" [fullscreen]="true"> 
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Chaap <img class="ion-padding-left" src="../../assets/tab-images/chaap.svg" /></ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Chaap page"></app-explore-container>
</ion-content>
