.container{
    .justify-content-space-between{
        justify-content: space-between;
        display: flex;
        
            .order-detail{
                font-size: 20px;
            }
            .time{

            }
        
        
            .order-no{
                font-size: 16px;
                color: #AFAFAF;
            }
            .date{

            }
        
    }
    .padding-15-5{
        padding: 15px 5px;
    }
    .padding-15-5.name{
        // white-space: nowrap;
        // text-overflow: ellipsis;
        // overflow: hidden;
    }
    .cart-list{
        // ion-list{
        //     width: 100%;
        //     ion-item-sliding{
        //         ion-item{
        //             width: 100%;
        //             .item-inner{
        //                 .input-wrapper{
        //                     slot{
        //                         justify-content: space-between;
        //                     }
        //                 }
        //                 width: 100%;
        //             }
                  
        //         }
        //     }
        // }
    }
}