<div class="container">
  <ion-grid>
    <ion-row class="ion-padding-vertical">
      <ion-col size="12" class="justify-content-space-between heading " >
       <ion-label class="order-detail">Order Detail</ion-label> <ion-label class="time">3:15pm</ion-label>
      </ion-col>
      <ion-col size="12" class="justify-content-space-between sub-heading">
        <ion-label class="order-no">#3252321</ion-label> <ion-label class="date">Aug,15 2020</ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-vertical">
        <ion-col size="12" class="justify-content-space-between heading " >
          <ion-label class="order-detail">Item List</ion-label>
         </ion-col>
    </ion-row>
    <ion-row class="ion-padding-vertical cart-list">
      <ion-list style="width: 100%;">
        <ion-item-sliding *ngFor="let p of cart"  size="12" class="ion-justify-content-evenly" style="display: flex;">
          <ion-item style="width: 100%;">
           <div class="col-md-12"> 
             <div class="col-md-12 ion-justify-content-center" style="display: flex;">
              <div class="col-md-1 padding-15-5">
                <ion-button  color="warning" fill="clear" (click)="removeCartItem(p)">
                  <ion-icon name="close-circle" slot="icon-only"></ion-icon>
                </ion-button>
              </div>
              <div class="col-md-3 padding-15-5">
                <img height="40" width="60" src="{{ p.image }}" />
              </div>
              <div class="col-md-4 padding-15-5 name">{{ p.name }}</div> 
              <div class="col-md-4 padding-15-5"> 
                Rs. {{ p.price * p.amount }}.00
              </div>  
             </div>
             <div class="col-md-12">
              <div class="col-md-2 padding-15-5">
                <ion-button  color="warning" fill="clear" (click)="decreaseCartItem(p)">
                  <ion-icon name="remove-circle" slot="icon-only"></ion-icon>
                </ion-button>
               {{p.amount}}X
                <ion-button  color="warning" fill="clear" (click)="increaseCartItem(p)">
                      <ion-icon name="add-circle" slot="icon-only"></ion-icon>
                </ion-button>
               </div>
            </div>
            
          </div>


           

            
          </ion-item>
          <ion-item-options side="end">
            <ion-button color="warning" (click)="removeCartItem(p)">
              <ion-icon name="trash"></ion-icon>Delete
            </ion-button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>



      <ion-col *ngFor="let p of cart"  size="12" class="ion-justify-content-evenly" style="display: flex;" >
      </ion-col>
      <ion-col size="12" class="justify-content-space-between heading " >
        <ion-label class="order-detail">Total</ion-label>
        <ion-label class="order-detail">Rs. {{getTotal()}}.00</ion-label>
      </ion-col>
      <ion-col size="12">
        <ion-button color="warning" expand="block"  (click)="checkout()">Checkout</ion-button>
        <!-- <ion-button color="warning" expand="block"   [routerLink]="['/ordersummary']" >Checkout</ion-button> -->
      </ion-col>
      
    </ion-row>
  </ion-grid>
</div>