<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pizza <img class="ion-padding-left" src="../../assets/tab-images/pizza.svg" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="tab_pages fries_page" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pizza <img class="ion-padding-left" src="../../assets/tab-images/pizza.svg" /></ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="pizza page"></app-explore-container>
</ion-content>
