<ion-header class="ion-padding">
  <ion-toolbar>
    <img src="assets/icon/pepperfry.svg">
    <!-- <ion-title>Pepper Fry</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content class="home-page">
  <ion-tabs>

    <ion-tab-bar slot="top" >
      <ion-tab-button layout="icon-start" tab="pizza" >
        <img src="../../assets/tab-images/pizza.svg" />
        <ion-label>Pizza</ion-label>
      </ion-tab-button>
  
      <ion-tab-button layout="icon-start" tab="burger">
        <img src="../../assets/tab-images/burger.svg" />
        <ion-label>Burger</ion-label>
      </ion-tab-button>
  
      <ion-tab-button layout="icon-start" tab="fries">
        <img src="../../assets/tab-images/french-fries.svg" />
        <ion-label>Fries</ion-label>
      </ion-tab-button>
      <ion-tab-button layout="icon-start" tab="bread">
        <img src="../../assets/tab-images/bread.svg" />
        <ion-label>Bread</ion-label>
      </ion-tab-button>
      <ion-tab-button layout="icon-start" tab="chaap">
        <img src="../../assets/tab-images/chaap.svg" />
        <ion-label>Chaap</ion-label>
      </ion-tab-button>
      <ion-tab-button layout="icon-start" tab="wrap">
        <img src="../../assets/tab-images/wrap.svg" />
        <ion-label>Wrap</ion-label>
      </ion-tab-button>
      <ion-tab-button layout="icon-start" tab="sandwich">
        <img src="../../assets/tab-images/sandwich.svg" />
        <ion-label>Sandwich</ion-label>
      </ion-tab-button>
      <ion-tab-button layout="icon-start" tab="salad">
        <img src="../../assets/tab-images/salad.svg" />
        <ion-label>Salad</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  
  </ion-tabs>
</ion-content>
