ion-header {
    z-index: auto;
    ion-toolbar{
        --border-width: 0;
    }
}
.home-page {
    font-family: Roboto !important;
    ion-tab-bar {
        height: 10%;
        border:none;
        ion-tab-button {
            font: 17px Roboto Light;
            color: #000000;
            ion-label {
                color: #000000;
            }
            img {
                padding: 5px 2px;
            }
        }
        .tab-selected {
            background-image: url(../../assets/bg-images/orange_bg.svg);
            background-position: center;
            background-size: auto;
            background-repeat: no-repeat;
            ion-label {
                font: 19px Roboto Regular;
                color: #ffffff;
            }
            img {
                // transform: scale(1.2);
            }
        }
    }
}
